shortcut-team-id: eeeeeeee-aaaa-4bbb-3ccc-dddddddddddd
planning-sheet-id: xxxxxxxxxxxxxx
planning-sheet-range: "Sheet 1!A1:S100"
chores-epic-sheet-id: xxxxxxxxxxxxxxxx
chores-epic-sheet-range: "Sheet 1!A1:J20"
# TODO: Fetch this from Objectives properly
technical-objective-id: 14005
planning-document-folders-by-doctype:
  prd: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  rfc: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
project-technical-areas:
  backend: backend
  design: design
  frontend: frontend
workflow-name: Engineering
ready-state-name: "Ready for Work"
stale-state-name: "Ready for Deploy"
default-priority-value: Normal
technical-area-priorities:
  scoping: 0
  design: 1
  frontend: 2
  backend: 2
